.home-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
}

.home-data-container {
  width: 80%;
  flex: 1;
  min-height: 0;
  border: solid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  align-self: center;
}

.home-button {
  display: flex;
  align-self: flex-start;
}
