.property-card-container {
  display: flex;
  flex-direction: column;
  border: solid red;
  box-sizing: border-box;
}

.property-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
